#head {
    background-color: #808080;
    text-align: center;
}
#sky_1 {
      background-color: #2a84c5;
      margin: 0%;
      padding: 6px;
}
#sky_2 {
    background-color: #2a92d0;
    margin: 0%;
    padding: 6px;
}
#sky_3 {
    background-color: #1b9dd8;
    margin: 0%;
    padding: 6px;
}
#sky_4 {
    background-color: #36a9df;
    margin: 0%;
    padding: 6px;
}
#sky_5 {
    background-color: #55b6e6;
    margin: 0%;
    padding: 6px;
}
#sky_6 {
    background-color: #8cd4f5;
    margin: 0%;
    padding: 6px;
}
#sky_7 {
    background-color: #b0e3fc;
    margin: 0%;
    padding: 6px;
}
#green {
    background-color: rgb(135, 245, 120);
    margin: 0%;
    padding: 6px;
}
#pink_1 {
    background-color: rgb(253, 191, 201);
    margin: 0%;
    padding: 6px;
}
#pink_2 {
    background-color: rgb(253, 166, 180);
    margin: 0%;
    padding: 6px;
}
#pink_3 {
    background-color: rgb(250, 152, 168);
    margin: 0%;
    padding: 6px;
}
#pink_4 {
    background-color: rgb(253, 146, 164);
    margin: 0%;
    padding: 6px;
}
#pink_5 {
    background-color: rgb(252, 137, 156);
    margin: 0%;
    padding: 6px; 
}
#pink_6 {
    background-color: rgb(253, 133, 153);
    margin: 0%;
    padding: 6px;
}
#pink_7 {
    background-color: rgb(250, 119, 141);
    margin: 0%;
    padding: 6px;
}